<?xml version="1.0" encoding="utf-8"?>

<resources>

	<string name="db_user">default</string>
	<string name="db_name">db145083_dtaylor</string>
	<string name="db_password">default</string>
	<string name="db_host">default</string>
	
	<string name="can_edit">moderator</string>

</resources>